<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2><%= post.title %></h2>
<img src="<%= post.image %>" width="400">
<p><%= post.description %></p>
<p><strong>Extra:</strong> <%= post.extra %></p>

<a href="/gallery">Torna alla gallery</a>

</body>
</html>
